<h1>Enter ingredients here</h1>

<%= simple_form_for [@cocktail, @dose]  do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
